apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test-app
  template:
    metadata:
      labels:
        app: test-app
    spec:
      securityContext:
        fsGroup: 33
        runAsUser: 33
        runAsGroup: 33
      imagePullSecrets:
        - name: harbor-credentials
      containers:
        - name: test-app
          image: harbor.undefinedlab.uk/test/test-app:latest@sha256:32bc2063a9d6cd2d3d21fef46f8e03f47dd15b88fb3068edf498fb0b168776c3 # {"$imagepolicy": "flux-system:test-app-policy"}
          ports:
            - containerPort: 3000
          env:
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: password
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: test-app-db-app
                  key: host
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: test-app-db-app
                  key: dbname
          securityContext:
            allowPrivilegeEscalation: false
          resources:
            requests:
              cpu: 5m
              memory: 32Mi
            limits:
              cpu: 5m
              memory: 32Mi
