{{- if and .Values.ingress.enabled (eq .Values.ingress.kind "IngressRoute") }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ include "test-app.fullname" . }}
spec:
  entryPoints:
{{- range .Values.ingress.entryPoints }}
    - {{ . }}
{{- end }}
  routes:
{{- range .Values.ingress.routes }}
    - match: {{ .match | quote }}
      services:
        - name: {{ include "test-app.fullname" $ }}
          port: {{ $.Values.ingress.service.port }}
{{- end }}
{{- if .Values.ingress.tls.enabled }}
  tls:
{{- if .Values.ingress.tls.secretName }}
    secretName: {{ .Values.ingress.tls.secretName }}
{{- end }}
{{- end }}
{{- end }}
